/* 
    Document   : styles-story
    Created on : Jul 2, 2013, 12:55:35 AM
    Author     : 
    Description:
        Individual story styles.
*/

.story-original {
    float: left;
    width: 70%;
    height: 340px;
    background: orange;
    clear: both;
    margin-bottom: 15px;
}

.story-add {
    float: right;
    background: yellowgreen;
    margin-top: 10px;  
    height: 40px;
    width: 275px;
}

.story-originalSidebar {
    background: aqua;
    float: left;
    width: 30%;
    height: 340px;
}

#story-original {
    color: black;
    font-family: sans-serif;
    font-size: 24px;
}

.story-originalComments {
    
}

.story-source {
    background: lightsalmon;
    clear: both;
    width: 100%;
    height: 200px;
    margin-top: 15px;
}
